html {
  background: white;
}
body {
  font-family: system-ui;
}
.gif {
  width: 300px;
}
.message-box {
  margin-top: 0.7em;
}

p {
  color: white;
  color: black;
  color: blue;
  font-family: system-ui;
  font-weight: 600;
  font-size: 0.8em;
  margin: 0;
  line-height: 1.2;
  margin: 0.5em 1em;
}

p:nth-of-type(3) {
  text-align: right;
}

::selection {
  background: #f0f;
  color: #888;
}
::-moz-selection {
  background: red;
}