html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
}


.drag-resize {
  margin: 0;
  /* width: 40%; */
  /* background-color: red; */
  /* color: #fff; */
  position: absolute;
  /* right: -400px; */
  z-index: 3;
  overflow: visible;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        
}

.emojiContainer {
  margin: 0;
  /* background-color:transparent; */
  /* color: #fff; */
  position: absolute;
  /* z-index: 3; */
  overflow: visible;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        

}

.emoji {
  position: absolute;
  /* z-index: 2; */
  overflow: visible;
  /* background-color: pink; */
  /* text-overflow: ; */
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  outline:none;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        

}


#canvas {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  /* z-index: 1; */
  background-color: transparent;
  outline:none;
}

#canvas > div {
  outline: 2px solid lightgray;
  outline-offset: -1px;
  /* background-color: transparent; */
  background-color: transparent;

}

.draggable {
  /* background-color: red; */
  /* top: 200px;
  right: 100px; */
  position: absolute;
  
}


#test {
  font-size: 1000px;
}


#btndonwload {
  position: fixed;
  right: 30px;
  bottom: 30px;
}